*.class

# Package Files #
*.war
build
out
./tests
test-results
distribution
.DS_Store
generated-*
cvs
git
source/*/target
source/*/*/target
source/*/*/*/target
source/*/*/*/*/target
source/*/.classpath
source/*/*/.classpath
source/*/*/*/.classpath
source/*/*/*/*/.classpath
source/*/.settings
source/*/*/.settings
source/*/*/*/.settings
source/*/*/*/*/.settings
idea
target
.project
.classpath
.settings
/bin
